body{
	background-color:#6CE741;
	margin:0 0 0 0;
}

#container{
	width:1345px;
	height:1920px;
}

#first{
	height:60px;	
	background-color:black;
	border-radius:10px;
	margin:0 0 0 0;
}

#first h1{
	text-align:center;
	padding-top:12px;
	margin:0 0 0 0;
	color:#fff;
}

#second{
	height:50px;
	background-color:#B41BE9;
	margin:0 0 0 0;
	border-radius:10px;
}

#second h1{
	text-align:center;
	padding-top:7px;
}

#topmenu{
	display:block;
	float:left;
	width:1345px;
	background:#B41BE9;
	margin-top:5px;
	border-radius:10px;
}

#topmenu ul{
	list-style:none;
	padding:12 0 0 0;
	width:1345px;
	margin-left:auto;
}

#topmenu li{
	list-style:none;
	padding:0;
	display:inline;
	height:50px;
}

#topmenu li a{
	float:left;
	color:#000;
	text-decoration:none;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	padding:0px 20px 12px 0px;
}